<%= javascript_include_tag "dialog", "data-turbolinks-track" => true %>
<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js", "data-turbolinks-track" => true %>
<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "data-turbolinks-track" => true %>
<link data-turbolinks-track="true" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="all" rel="stylesheet">

<div class="dialog_translucent_background" hidden='true' style="z-index: 999999">
	<div class="dialog">
		<div class="dialog_title">
			New Event
		</div>
		<div class="dialog_content">

			<%= form_for :new_event, url: event_create_path do |f| %>
			<table class="uiInfoTable">
				<tr>
					<th class="dialg_label"> <%= f.label :title, "Name:" %></th><td>
					<div style="width: 100%;">
						<%= f.text_field :title, :class => "dialog_data" %>
					</div></td>
				</tr>
				<tr>
					<th class="dialg_label"><%= f.label :description, "Description:" %></th>
					<div style="width: 100%;">
						<td> <%= f.text_area :description, class: 'dialog_data' %>
					</div>
				</tr>
				<tr>
					<th class="dialg_label"> <%= f.label nil, "Where" %></th>
					<div style="width: 100%;">
						<td> <%= f.text_field :location , :class => "dialog_data" %> </td>
					</div>
				</tr>
				<tr>
					<th class="dialg_label"> <%= f.label nil, "Date" %></th>
					<td> <%= f.text_field :s_date, :id => 'start_datepicker' %>
					<%= f.text_field :e_date, :id => 'end_datepicker' %> </td>
				</tr>
				<tr>
					<th class="dialg_label"> <%= f.label :visibility, "Privacy" %></th><td> <%= f.select :visibility, [['public', 0], ['private', 1], ['need authority' ,2 ]] %> </td>
				</tr>
			</table>
		</div>
		<div class="dialog_footer">
			<table>
				<tr>
					<td><!-- <input class="dialog_footer_button" name="commit" type="submit" value="Save" style='padding: 0px;border: 0px;height:20px;'> --> <%= submit_tag "Save", :class=> "dialog_footer_button"%><% end %> </td>
					<td> 
					<div id="dialog_cancel" style="margin-left: 0px" class="dialog_footer_button">
						Cancel
					</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>