<div style="height: 30px;">
	<div class="top_title">
		<div class="title_container">
			<div class="iToGo">
				<%= link_to "iTOGO","/main/home",id:"text2" %>
			</div>
			<div style="float: left;margin-top: 5px;width: 543px;margin-left: 10px;margin-right: 10px;text-align: right;">
				<%= link_to "New Event", '/main/new_event', :class =>'event_new', :remote => true, "data-type" => "script" %>
			</div>
			<div style="margin-top: 5px;" class="logout">
				<% if current_user %> welcome ,<%= current_user.name =%>
				<%= link_to('登出', destroy_user_session_path, :method => :delete) %>
				<% end %>
				<!-- <%= link_to "log out", '/', :class =>'event_new' %> -->
			</div>
		</div>
	</div>
</div>
<%= render partial: "/main/new_event_dialog" %>
