$('.center_column .tab_container').html('<div class="center_top">\
	<div class="top_1">\
		<%= image_tag("profile1.jpg", :class => "result_photo1") %>\
	</div>\
	<div class="top_2">\
		姓名:Amay cheng\
		<br>\
		年齡:24\
		<br>\
		位置：新店\
		<br>\
		國家：台灣\
		<br>\
	</div>\
	<div class="top_4">\
		關於我：\
		<br>\
		Call me Jo...22,Malaysia born Chinese ,dark hair,dark brown eye~ Friendly,happy go lucky,easy\
	</div>\
	<div class="top_3">\
		加入最愛\
		<br>\
		刪除聊天\
		<br>\
		封鎖\
		<br>\
		檢舉\
		<br>\
	</div>\
</div>\
<div class="center_center">\
	<%= image_tag("chatpic.jpg", :class => "center_pic") %>\
</div>\
<div class="center_bottom">\
	<%= text_field(:comment, :text, :class => "chat_input", size: "74x5")%>\
	<div class="chat_bottom">\
		<%= submit_tag("傳送圖片")%>\
		<%= submit_tag("圖示選擇")%>\
		<%= submit_tag("傳送訊息")%>\
	</div>\
</div>\
</div>');



