$('.center_column .tab_container').html('<div class="tab_content">\
	<%= link_to "New Event", '/main/new_event', :class =>'event_new', :remote => true, "data-type" => "script" %>\
				<% for i in 1..10 %>\
				<div class="events_block">\
					<div class="events_pic">\
						<%= image_tag("profile#{i%4}.jpg", :class => "result_events",) %>\
					</div>\
					<div class="events_info">\
						Amay chang\
						<br>\
						找一起出去玩的人\
						<br>\
						時間:2013.03.03 人數：20人\
						<br>\
					</div>\
					<div class="events_bottom">\
						<%= submit_tag("詳情")%>\
						<br>\
						<%= submit_tag("參加")%>\
						<br>\
						<%= submit_tag("加入觀察")%>\
						<br>\
					</div>\
				</div>\
				<% end %>\
			</div>');
			
$('li#events').addClass("active").siblings(".active").removeClass("active");
$('.right_column .tab_container').show();
