
<%= render partial: "title" %>

<div class="container">
	<div class="left_column">
		<div class="top_profile">
			<%= image_tag("profile.jpg", :alt => "Norman Chen", :size => "70x70", :class => "profile_photo") %>
			<div class="profile_name">
				Norman Chen
				<br>
				<%= link_to "Edit your profile","/main/profile",class:"decoration", :remote => true, "data-type" => "script" %>
			</div>
		</div>
		<div class="tags">
			<% for i in 1..30 %>
			<%= link_to "#Sport #{i*11}", '/events/event/', :class => 'circle tag' %>
			<% end %>
		</div>
	</div>
	<div class="center_column">
		<div class="tab_container">
			<div class="tab_content">

				<% @events.each do |event| %>
				<div class="events_block">
					<div class="events_pic">
						<%= image_tag("profile#{i%4}.jpg", :class => "result_events",) %>
					</div>
					<div class="events_info">
						<div>
							<%= link_to event.title, event_path(event.id) %>
						</div>
						<div>
							<%= event.location %>
						</div>
						<div>
							<% if event.s_date != nil%>
							時間:<%= event.s_date %>
							<% end %>
							人數：20人
						</div>
					</div>
					<div class="events_bottom">
						<div>
							<%= link_to 'Join', join_path(event.id) %>
						</div>
						<div>
							<%= link_to 'Follow', '/events/event/' %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="right_column"></div>
</div>
