<%= javascript_include_tag "main" %>
<div class="top_title">
	<div class="title_container">
		<div class="iToGo">
			<%= link_to "iTOGO","/main/home",id:"text2" %>
		</div>
		<!-- <div class="title_tabs">
		<ul class="tabs">
		<li id="people">
		<%= link_to "people", '/main/people', :remote => true, "data-type" => "script" %>
		</li>
		<li id="events">
		<%= link_to "event", '/main/events', :remote => true, "data-type" => "script" %>
		</li>
		</ul>
		</div> -->
		<div style="float: left;margin-top: 20px;width: 543px;margin-left: 10px;margin-right: 10px;text-align: right;">
			<%= link_to "New Event", '/main/new_event', :class =>'event_new', :remote => true, "data-type" => "script" %>
		</div>
		<div style=";margin-top: 20px;" class="logout">
			log out
		</div>
	</div>
</div>
<div class="container">
	<div class="left_column">
		<div class="top_profile">
			<%= image_tag("profile.jpg", :alt => "Norman Chen", :size => "70x70", :class => "profile_photo") %>
			<div class="profile_name">
				Norman Chen
				<br>
				Edit your profile
			</div>
		</div>
		<div class="people">
			<%= image_tag("events.png", :alt => "chat") %><%= link_to "People","/main/people",class:"decoration", :remote => true, "data-type" => "script" %>
		</div>
		<div class='events active' id="events">
			<%= image_tag("events.png", :alt => "chat") %><%= link_to "Events","/main/events",class:"decoration", :remote => true, "data-type" => "script" %>
		</div>
		<div class="chat">
			<div class="circle">
				3
			</div>
			<%= image_tag("iconChat.png", :alt => "chat") %> <%= link_to "Chat","/main/chat",class:"decoration", :remote => true, "data-type" => "script"%>
		</div>

		<div class="favorite">
			<%= image_tag("fav.png", :alt => "chat") %><%= link_to "My favorite","/main/Myfavorite",class:"decoration" %>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="self_info">
			練習自我介紹中，請勿打擾．
			<br>
			哥寫的不是程式．
			<br>
			哇嗚！！！
			<br>
			<div class="selfedit">
				修改狀態
			</div>
		</div>
	</div>
	<div class="center_column">

		<div class="tab_container">
			<div class="tab_content">
				<% for i in 1..10 %>
				<div class="events_block">
					<div class="events_pic">
						<%= image_tag("profile#{i%4}.jpg", :class => "result_events",) %>
					</div>
					<div class="events_info">
						Amay chang
						<br>
						找一起出去玩的人
						<br>
						時間:2013.03.03 人數：20人
						<br>
					</div>
					<div class="events_bottom">
						<%= submit_tag("詳情")%>
						<br>
						<%= submit_tag("參加")%>
						<br>
						<%= submit_tag("加入觀察")%>
						<br>
					</div>
				</div>
				<% end %>
				<!-- <% for i in 1..80 %>
				<%= image_tag("profile#{i%4}.jpg", :class => "result_photo") %>
				<% end %> -->
			</div>
		</div>
	</div>
	<div class="right_column">
		<div class="tab_container">
			<div id="tab1" class="tab_content">
				<div>
					Travel
				</div>
				<div>
					Sport
				</div>
				<div>
					Food
				</div>
				<div>
					Club
				</div>
			</div>
			<div id="tab2" class="tab_content">
				<h2>jQuery ind </h2>
			</div>
		</div>
	</div>
</div>

